@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-Black.eot");
    src:
        url("../fonts/NeueEinstellung-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-Black.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-Black.woff") format("woff"),
        url("../fonts/NeueEinstellung-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-Light.eot");
    src:
        url("../fonts/NeueEinstellung-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-Light.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-Light.woff") format("woff"),
        url("../fonts/NeueEinstellung-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-Regular.eot");
    src:
        url("../fonts/NeueEinstellung-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-Regular.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-Regular.woff") format("woff"),
        url("../fonts/NeueEinstellung-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-ExtraBold.eot");
    src:
        url("../fonts/NeueEinstellung-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-ExtraBold.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-ExtraBold.woff") format("woff"),
        url("../fonts/NeueEinstellung-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-XLight.eot");
    src:
        url("../fonts/NeueEinstellung-XLight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-XLight.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-XLight.woff") format("woff"),
        url("../fonts/NeueEinstellung-XLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-Bold.eot");
    src:
        url("../fonts/NeueEinstellung-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-Bold.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-Bold.woff") format("woff"),
        url("../fonts/NeueEinstellung-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-Medium.eot");
    src:
        url("../fonts/NeueEinstellung-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-Medium.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-Medium.woff") format("woff"),
        url("../fonts/NeueEinstellung-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("../fonts/SVN-GilroySemiBold.eot");
    src:
        url("../fonts/SVN-GilroySemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SVN-GilroySemiBold.woff2") format("woff2"),
        url("../fonts/SVN-GilroySemiBold.woff") format("woff"),
        url("../fonts/SVN-GilroySemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy XBold";
    src: url("../fonts/SVN-GilroyXBold.eot");
    src:
        url("../fonts/SVN-GilroyXBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SVN-GilroyXBold.woff2") format("woff2"),
        url("../fonts/SVN-GilroyXBold.woff") format("woff"),
        url("../fonts/SVN-GilroyXBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-SemiBold.eot");
    src:
        url("../fonts/NeueEinstellung-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-SemiBold.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-SemiBold.woff") format("woff"),
        url("../fonts/NeueEinstellung-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Einstellung";
    src: url("../fonts/NeueEinstellung-Thin.eot");
    src:
        url("../fonts/NeueEinstellung-Thin.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeueEinstellung-Thin.woff2") format("woff2"),
        url("../fonts/NeueEinstellung-Thin.woff") format("woff"),
        url("../fonts/NeueEinstellung-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
