@import "fonts";

.my_container {
    background-color: white;
    overflow: hidden;
}
.img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.text_content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    position: relative;
    font-family: "K2D";
    font-weight: normal;
    font-style: normal;
}

.group_image {
    position: relative;
    width: fit-content;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    & img:first-child {
        position: initial;
    }
}

.author {
    font-size: 18px;
    font-family: "San Francisco Text";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    // width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    p {
        text-align: center;
        span {
            font-weight: bold;
        }
        margin-bottom: 0;
    }
    margin-top: 0px;
}

.home {
    background-image: url(../images/bg-4.jpg);
    background-repeat: no-repeat;
    padding-top: 120px;
    background-position: center top 13%;
    padding-bottom: 120px;
    background-position: center top;
}
.voucher {
    background-image: url(../images/bg-4.jpg);
    background-repeat: no-repeat;
    padding-top: 40px;
    background-position: center top 13%;
    padding-bottom: 120px;
    background-position: center top;
}

.title-container {
    margin: 0 auto;
    font-family: "SVN-Gilroy";
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color: #6b9ee5;
    text-align: center;
    margin-top: -8%;
    margin-bottom: 40px;
    p {
        margin-bottom: 0;
    }
    .title {
        font-family: "SVN-Gilroy XBold";
        font-weight: bold;
        font-style: normal;
        font-size: 48px;
        color: white;
        margin-top: -10px;
    }
}

.img-1 {
    margin-top: -12%;
    padding-right: 20px;
}
.img-11 {
    margin-top: -12%;
    padding-right: 20px;
}
.group_img_2 {
    margin-top: 7%;
}

/// font
.t-bold-small,
.t-bold-medium,
.t-bold-big {
    font-family: "Neue Einstellung";
    font-weight: bold;
    font-style: normal;
}

.t-small {
    font-family: "Neue Einstellung";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.t-big {
    font-family: "Neue Einstellung";
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
}

.t-bold-small {
    font-size: 20px;
}
.t-bold-medium {
    font-size: 22px;
}
.t-bold-big {
    font-size: 24px;
}
.t-bold-large {
    font-size: 40px;
    font-family: "SVN-Gilroy XBold";

    font-weight: bold;
    font-style: normal;
    line-height: 1 !important;
}
.t-blue {
    color: #00337b;
}

.line {
    border-top: 1px dashed #e0e5ed;
    width: 80%;
    margin-bottom: 10px;
}
.my-container {
}
.page {
    transition: all 0.5s;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
}
.page.active-page {
    opacity: 1;
    display: block;
}
.d-none {
    display: none !important;
}
//------------- HOME -----------------
.home-voucher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    margin: 0 auto;
    width: 340px;
    background-image: url(../images/bg-3.png);
    margin-bottom: 40px;
    background-repeat: no-repeat;
    padding-bottom: 5px;

    .home-voucher-des {
        font-family: "Neue Einstellung";
        font-weight: 500;
        font-style: normal;
        font-size: 20px;

        text-align: center;
        line-height: 1.2 !important;
        margin-bottom: 0;
    }
    .home-voucher-num {
        font-family: "SVN-Gilroy XBold";
        font-weight: bold;
        font-style: normal;
        font-size: 64px;
        line-height: 1.2 !important;
        margin-bottom: 0;
    }
}

//home voucher container
.hone-voucher-container {
    color: #00337b;
    p {
        margin-bottom: 10px;
    }
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.home-voucher-item {
    width: 433px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0;
}

.item-temp {
    position: relative;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -61.08%, rgba(255, 255, 255, 0.425) 170.99%);
    box-shadow: 0px 0px 11.9px 0px rgba(255, 255, 255, 0.4) inset;
    border-bottom: 2px solid rgba(255, 255, 255, 0.705);
    padding: 15px 10px 20px 10px;
}

.b-top {
    width: 100%;
    height: 1.5px;
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.856);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.644) 0%, rgba(255, 255, 255, 0) 80%);
}

.b-left {
    position: absolute;
    height: 100%;
    width: 1.5px;
    background: rgba(255, 255, 255, 0.856);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.644) 0%, rgba(255, 255, 255, 0) 90%);
    left: -1px;
}
.b-right {
    position: absolute;
    height: 100%;
    width: 1.5px;
    background: rgba(255, 255, 255, 0.856);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.644) 0%, rgba(255, 255, 255, 0) 90%);
    right: 1px;
}

.row-info {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-container {
    z-index: 10;
    position: fixed;
    top: 30%;
    width: fit-content;
    display: flex;
    font-family: "Neue Einstellung";
    font-weight: 500;
    font-style: normal;
    gap: 25px;
    flex-direction: column;
    .usage {
        background-color: #d5dbe3;
        border-radius: 0px !important;
        border-top-right-radius: 16px !important;
        border-bottom-right-radius: 16px !important;
        border: 2px solid white;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        gap: 8px;
        p {
            font-size: 17px;
            margin-bottom: 0;
        }
    }
    .item-container {
        font-family: "Neue Einstellung";
        font-weight: bold;
        font-style: normal;
        padding: 20px 0;
        border-radius: 16px;
        background-image: url(../images/bg-2.png);
        display: flex;
        flex-direction: column;
        gap: 50px;
        gap: 50px;
        .item-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            p {
                margin: 0 auto;
                font-size: 18px;
                text-align: center;
                color: #b1b1b1;
            }
        }
    }
    .item-container {
        .img-active {
            display: none;
        }
        .item-nav.active-nav {
            p {
                color: #00337b;
            }
            .img-none {
                display: none;
            }
            .img-active {
                display: block;
            }
        }
    }
}
.contact-container {
    margin: 0 auto;
    margin-top: 15px;
    color: #00337b;
    p {
        margin-bottom: 0;
        text-align: center;
    }
    .info {
        font-size: 20px;
    }
    font-family: "Neue Einstellung";
    font-weight: 600;
    font-style: normal;
    .hot-line-container {
        width: fit-content;
        padding: 12px 20px;
        margin: 0 auto;
        border-radius: 30px;
        margin-top: 10px;
        p {
            font-size: 24px;
            font-family: "Neue Einstellung";
            font-weight: bold;
            font-style: normal;
        }
        span {
            font-size: 20px;
        }
    }
}
.dieu-kien {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

    .ap-dung {
        background-image: url("../images/bg-5.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15px 5px;
        border-radius: 14px;
        min-width: 100px;
        text-align: center;
    }
    .dk-content {
        line-height: 1.2 !important;
        margin-bottom: 0;
    }
}

.voucher {
    .title {
        font-size: 24px;
        color: white;
        font-family: "Neue Einstellung";
        font-weight: bold;
        font-style: normal;
        text-align: center;
        margin: 0 auto;
        margin-top: -7%;
    }
    .slide-container {
        padding: 0 150px 100px 150px;
        text-align: center;
        margin-top: 80px;
    }
}
.my-swiper-btn-container {
    position: relative;
    width: 150px;
    margin: 0 auto;
}
// ---------------------- Page - 1
.main-slide {
    .swiper-button-next,
    .swiper-button-prev {
        width: 50px;
        height: 50px;
        background-image: url("../images/btn-right.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .swiper-button-prev {
        background-image: url("../images/btn-left.png");
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        display: none;
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        display: none;
    }
}
.nav-main-slide {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
    .nav-slide-item {
        cursor: pointer;
        background-image: url(../images/bg-5.png);
        background-size: cover;
        padding: 6px 32px;
        border-radius: 26px;
        p {
            margin-bottom: 0;
            font-size: 28px;
            font-family: "Neue Einstellung";
            font-weight: bold;
            font-style: normal;

            color: white;
        }
    }
    .nav-slide-item.main-slide-active-nav-item {
        background-image: url(../images/bg-6.png);

        p {
            color: #00337b;
        }
    }
}

.modal-dialog {
    max-width: 980px;
    // height: 100%;
}
.modal-content {
    background-color: transparent;
    border: none;
}
.modal-header {
    position: relative;
    padding: 0;
    border: 0;
}
.img-close {
    position: absolute;
    top: -22px;
    right: -22px;
    opacity: 1 !important;
    z-index: 10;
}
.modal-body {
    padding: 0 50px 30px 50px;
    background-color: #cfd4da;

    border-radius: 26px;
}
.slide-detail-container {
    width: 100%;
    height: 400px;
    background-image: url("../images/bg-detail.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    // overflow: hidden;
}
.title-car-container {
    background-image: url(../images/title-car.jpg);
    border-radius: 24px;
    width: fit-content;
    width: 220px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    position: relative;
    top: -25px;
    z-index: 10;
    p {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        margin: 0;
        color: white;
    }
}
@media (min-width: 577px) {
    .mobile {
        // display: none !important;
    }
}

@media (max-width: 576px) {
    .pc {
        // display: none !important;
    }
}
